body {
    transition: background-color 0.2s linear;
    background-color: #071b18;
    color: #7ac4b1;
}

body.brake {
    background-color: #0a0a24;
    color: #9999ff;
}

/* body.idle button.start {
    display: block;
} */

#controls-container.idle button.pause,
#controls-container.idle button.stop {
    display: none;
}

#controls-container.running button.start {
    display: none;
}

#controls-container.paused button.pause {
    display: none;
}