body {
    transition: background-color 0.2s linear;
    background-color: #071b18;
    color: #7ac4b1;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    user-select: none;
    --counter-size: 100%;
}

body.break {
    background-color: #0a0a24;
    color: #9999ff;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timer {
    font-size: 35vmin;
    box-sizing: border-box;
}

#controls-container {
    text-align: center;
    height: 10vmin;
    margin-top: 5vmin;
}

#controls-container.idle button.pause,
#controls-container.idle button.stop {
    display: none;
}

#controls-container.running button.start {
    display: none;
}

#controls-container.paused button.pause {
    display: none;
}

button {
    padding: 0;
    border: none;
    background: transparent;
    color: inherit;
    height: 100%;
    width: auto;
    font-size: 0;
    box-sizing: border-box;
    cursor: pointer;
}

button:before {
    background-color: transparent;
    transition: background-color 0.2s linear;
}

button.start {
    margin: 0 15vmin;
}

.paused button.start {
    margin-left: 0;
}

button.pause {
    margin-right: 15vmin;
}

button.stop {
    margin-left: 15vmin;
}

button svg {
    height: 10vmin;
    width: 10vmin;
    fill: #7ac4b1;
}

.break button svg {
    fill: #9999ff;
}

.counter {
    position: absolute;
    top: 0;
    left: 0;
    height: 2vmin;
    width: var(--counter-size);
    background-color: #7ac4b1;
    border-radius: 10vmin;
}

.break .counter {
    background-color: #9999ff;
}

.counter.left,
.counter.right {
    width: 2vmin;
    height: var(--counter-size);
    transition: height .5s linear;
}

.counter.top,
.counter.bottom {
    transition: width .5s linear;
}

.counter.bottom {
    top: auto;
    bottom: 0;
    right: 0;
    left: auto;
}

.counter.right {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}